.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7C5E99;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;
}

.card-project.-blue{
    background-color: #4c5b84;
}
.card-project.-red{
    background-color: #BA1F33;
}

.logo{
    width: 200px;
    height: 200px;
}